<!DOCTYPE html>
<html>
  <head>
    <title>MyAppAssets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <script src="https://use.fontawesome.com/releases/vVERSION/js/all.js" data-mutate-approach="sync"></script>
    <noscript><%= stylesheet_link_tag "noscript", media: "all" %></noscript>
    <script>
        FontAwesomeConfig = {
          mutateApproach: 'sync'
        }
      </script>
  </head>


  <body>
    <%= yield %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "jquery.min", "browser.min", "breakpoints.min", "main" %>
  </body>
</html>

