<!DOCTYPE html>
<html>
  <head>
    <title>MyAppAssets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <noscript><%= stylesheet_link_tag "noscript", media: "all" %></noscript>
  </head>


  <body>
    <%= yield %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "jquery.min", "browser.min", "breakpoints.min", "main" %>
  </body>
</html>

